<footer class="content-footer">
    <div class="copyright">
        <div class="container">

            <div class="row">
                 <div class="col-md-8"> 联系我们：400-660-9037 123456789@qq.com</div>
                 <div style="float:right" class="col-md-4"> 地址：广州市中山大学数据科学与计算机学院A301室</div>
            </div>
            <div class="row">
                 <div class="col-md-8"> © 2017-2018 先进网络与计算系统研究所</div>
                 <div style="float:right" class="col-md-4"> 邮编：510006 </div>
            </div>

            <div class="about"> 相关链接: <a href="#">Git</a> / <a href="#">Seafile</a> / <a href="#">Wiki</a> / <a href="{{ url_for('conference.index') }}">会议室预约</a> </div>

        </div>
    </div>
</footer>