<!-- 小屏幕下导航栏 -->
<ul class="navbar-mobile visible-xs nav">
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="navbar-more dropdown-toggle">
            <i class="es-icon es-icon-menu"></i></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.about_us') }}">{{ _('About Us') }}</a></li>
            <li><a href="{{ url_for('main.team') }}">{{ _('Team Member') }}</a></li>
            <li><a href="{{ url_for('main.publications') }}">{{ _('Publications') }}</a></li>
            <li><a href="{{ url_for('article.index') }}">{{ _('News Center') }}</a></li>
            <li><a href="{{ url_for('job.index') }}">{{ _('Jobs Offer') }}</a></li>
            <li><a href="{{ url_for('main.contact_us') }}">{{ _('Contact') }}</a></li>

        </ul>
    </li>
</ul>

<!-- 大屏幕下导航栏 -->
<header class="content-header navbar">

    <div class="navbar-header">
        <a href="{{ url_for('main.index') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
    </div>

    <ul class="navbar-user nav user-nav hidden-xs">
        {% if current_user.is_authenticated %}
        <li>
            <li class="user-avatar-li nav-hover">
                <a href="javascript:;" class="dropdown-toggle">
                    <img class="avatar-sm" src="{{ current_user.avatar_url | get_avatar_path}}">
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">{{ current_user.username }}</li>
                    <li> <a href="{{ url_for('user.setting') }}">
                        <i class="es-icon es-icon-setting"></i>{{ _('Setting') }}</a>
                    </li>
                    <li><a href="{{ url_for('user.signout') }}">
                        <i class="es-icon es-icon-power"></i>{{ _('Logout') }}</a>
                    </li>
                </ul>
            </li>
        </li>
        {%  else %}
        <li>
            <a href="{{ url_for('user.signin', next=request.path) }}">{{ _('Sign In') }}</a>
        </li>
        <li>
            <a href="{{ url_for('user.reg', next=request.path) }}">{{ _('Sign Up') }}</a>
        </li>
        {% endif %}

    </ul>

    <nav class="collapse navbar-collapse">
        <!-- 大屏幕下导航栏 -->
        <ul class="nav navbar-nav clearfix visible-lg">
            <li><a href="{{ url_for('main.about_us') }}">{{ _('About Us') }}</a></li>
            <li><a href="{{ url_for('main.team') }}">{{ _('Team Member') }}</a></li>
            <li><a href="{{ url_for('main.publications') }}">{{ _('Publications') }}</a></li>
            <li><a href="{{ url_for('article.index') }}">{{ _('News Center') }}</a></li>
            <li><a href="{{ url_for('job.index') }}">{{ _('Jobs Offer') }}</a></li>
            <li><a href="{{ url_for('main.contact_us') }}">{{ _('Contact') }}</a></li>
        </ul>

        <!-- 中屏幕下导航栏 -->
        <ul class="nav navbar-nav clearfix visible-md visible-sm">
            <li><a href="{{ url_for('main.about_us') }}">{{ _('About Us') }}</a></li>
            <li><a href="{{ url_for('main.team') }}">{{ _('Team Member') }}</a></li>


            <li class="nav-hover">
                <a> <i class="es-icon es-icon-morehoriz"></i> </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('main.publications') }}">{{ _('Publications') }}</a></li>
                    <li><a href="{{ url_for('article.index') }}">{{ _('News Center') }}</a></li>
                    <li><a href="{{ url_for('job.index') }}">{{ _('Jobs Offer') }}</a></li>
                    <li><a href="{{ url_for('main.contact_us') }}">{{ _('Contact') }}</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
