{% extends 'base.html' %}

{% block content %}
    <div class="container article-detail-main" id="content-container">
        <section class="es-section article-content">
            <div class="article-metas">
                <div class="pull-left">
                    <div class="date">
                        <div class="day">近期</div>
                        <div class="month">著作</div>
                    </div>
                </div>
                <div class="metas-body">
                    <h2 class="title">{{ _('Publications') }}</h2>
                    <div class="sns">

                    </div>
                </div>
            </div>
            <br/>
            <div id="article-content" class="markdown-body article-text" data-to-render="![](/static/upload/md_images/20170303104324.png)
{% for paper in paper_list %}
- {{ paper.title }}
{{ paper.information }}
{% endfor %}
"></div>
        </section>
    </div>
{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(document).ready(function () {
            var article_content = $("#article-content");
            article_content.html(latex_support(article_content.data('to-render')));
            article_content.attr('data-to-render', null);
        });
    </script>
{% endblock %}