{% extends 'admin/base.html' %}

{% block content %}
    <div class="container" id="content-container">
        <div class="panel panel-default panel-col">
            <div class="panel-heading">
                    <span class="pull-right">
                        <a id="create-course" href="{{ url_for('admin.paper_create') }}" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                            新建论文
                        </a>
                    </span>
                论文著作管理
            </div>

            <div class="panel-body">
                <table class="table fixed-table" id="course-table">
                    <thead>
                    <tr>
                        <th width="70%">论文标题</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tb">
                    {% for a in papers %}
                        <tr data-cid="{{ a.id }}">
                            <td class="overflow-ellipsis" data-toggle="tooltip" title="{{ a.title }}">{{ a.title }}</td>
                            <td>
                                <a href="{{ url_for('admin.paper_edit', paper_id=a.id) }}">编辑</a>
                                <span class="divider"> | </span>
                                <a href="{{ url_for('paper.index', article_id=a.id) }}" target="_blank">预览</a>
                                <span class="divider"> | </span>
                                <a href="javascript:void(0)" name="del-btn">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "admin/widget-del-warning.html" %}

{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        $(document).ready(function () {
            var obj = null;
            $("#tb").find("a[name=del-btn]").click(function () {
                obj = this;
                $("#del-warning").modal("show");
            });

            $("#del-confirm").click(function () {
                $.ajax({
                    type: "post",
                    url: "{{ url_for('admin.paper_delete') }}",
                    data: {
                        id: $(obj).parent().parent().data('cid')
                    },
                    success: function (data) {
                        $(obj).parent().parent().remove();
                        $("#del-warning").modal("hide");
                    }
                });
            });
        });
    </script>
{% endblock %}

{# articles #}
