{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parsley-add.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
{% endblock %}

<div class="panel panel-default panel-col">
    <div class="panel-heading">{{ _('Avatar') }}</div>

    <div class="panel-body">
        <form class="form-horizontal" action="{{ url_for('user.setting_avatar') }}"
              enctype="multipart/form-data" data-parsley-validate="">
            <div class="form-group clearfix">
                <div class="col-md-offset-2 col-md-8 controls">
                    <img id="user-avatar" src="{{ current_user.avatar_url | get_avatar_path}}" style="height: 128px;width: 128px;">
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-offset-2 col-md-8 controls">
                    <input id="user-avatar-field" class="pic-upload" name="file" accept="image/bmp,image/jpeg,image/png" type="file"
                           data-parsley-max-file-size="1024" data-parsley-required-message="请选择要上传的图片" required="required">
                    <p class="help-block">你可以上传jpg, bmp, png格式的图片，不超过1M</p>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="col-md-offset-2 col-md-8 controls">
                    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
                    {% if message_success %}
                        <span id="avatar-setting-info" style="margin-left: 20px;">{{ message_success }}</span>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

{% block footer_ext %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#user-avatar-field').change("#user-avatar",preview_picture);
            setTimeout(function () {
                $("#avatar-setting-info").addClass("hide")
            }, 3000);
        });
    </script>
{% endblock %}