{% extends 'base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="es-section login-section">
            <div class="logon-tab clearfix">
                <a class="active">{{ _('Sign In') }}</a>
                <a href="{{ url_for('user.reg') }}">{{ _('Registration') }}</a>
            </div>
            <div class="login-main">
                <form id="login-form" class="form-vertical" method="post"
                      action="{{ url_for('user.signin', next=request.args.get('next')) }}" data-parsley-validate="">
                    <div class="form-group mbl">
                        <label class="control-label" for="login_username">{{ _('Email Address') }}</label>
                        <input class="form-control input-lg" id="login_email" type="text" name="email"
                               value="{{ form.email }}" placeholder="{{ _('Email Address') }}"
                               data-parsley-required-message="请输入您的登录邮箱"
                               data-parsley-type="email" data-parsley-maxlength="128" required="required">
                    </div>
                    <div class="form-group mbl">
                        <label class="control-label" for="login_password">{{ _('Password') }}</label>
                        <div class="controls">
                            <input class="form-control input-lg" id="login_password" type="password" name="password"
                                   value="{{ form.password }}" placeholder="{{ _('Password') }}"
                                   data-parsley-required-message="请输入您的登录密码"
                                   data-parsley-maxlength="128" required="required">
                        </div>
                    </div>
                    {% if message %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                    <div class="form-group mbl">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">{{ _('Sign In') }}</button>
                    </div>
                </form>

                <div class="mbl">
                    <a href="{{ url_for('user.password_reset_request') }}">{{ _('Forget Password') }}</a>
                    <span class="text-muted mhs">|</span>
                    <span class="text-muted">{{ _('Have no account?') }}</span>
                    <a href="{{ url_for('user.reg') }}">{{ _('Registration') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}