{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ url_for('admin.case_create') }}" method="POST" enctype="multipart/form-data" data-parsley-validate="">
                    <div class="form-group">
                        <label>案例名称</label>
                        <input type="text" class="form-control" name='name' placeholder="在此输入案例名称"
                               data-parsley-required-message="请输入案例名称" data-parsley-maxlength="256" required>
                        <br>
                    </div>

                    <div class="form-group">
                        <label>案例简介</label>
                        <textarea rows="3" class="form-control" name='introduction' placeholder="在此输入简介，不超过100字"
                               data-parsley-required-message="请输入案例简介" data-parsley-maxlength="100" required></textarea>
                        <br>
                    </div>

                    <div class="form-group">
                        <label>案例图标</label>
                        <div class="form-controls">
                            <img id="case-icon" src="{{ url_for('static', filename='upload/case/test.png') }}" style="height: 171px;width: 304px;">
                        </div>
                        <br>
                        <div class="controls">
                            <input id="case-icon-field" name="pic" accept="image/bmp,image/jpeg,image/png"
                                           type="file" data-parsley-required-message="请选择要上传的图片" data-parsley-max-file-size="1024" required>
                            <p class="help-block">你可以上传jpg, bmp, png格式的文件，不超过1M</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>案例关键词</label>
                        <div class="form-group">
                            <input name="tag" type="text" class="case-tags" placeholder="请输入标签名(非必须)" value="">
                            <span id="add-tag-btn" class="btn btn-sm btn-primary">添加</span>
                        </div>
                        <br>
                    </div>

                    <div class="case-tag-display hide">    
                    </div>

                    <div class="form-group">
                        <label>案例描述</label>
                        <textarea name="description" id="target-editor" rows="30" data-img-upload-url="{{ url_for("markdown_files.images") }}"
                            data-parsley-required-message="请输入案例描述" data-parsley-errors-container=".textarea-errors" required></textarea>
                        <div class="textarea-errors"></div>
                    </div>

                    {% include 'widget/load_img_progress.html' %}

                    <div class="form-submit text-right">
                        <a class="btn btn-default" id="creat-case-cancel" href="{{url_for('admin.case')}}">取消</a>
                        <input class='btn btn-success' id='submit' type='submit'>
                    </div>
                    <input name="tags" hidden value="">
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/custom_simplemde.js') }}"></script>
    <script>
        var post_to = "{{ url_for("admin.case_create") }}";
        var simplemde = custom_simplemde();
    </script>
    <script src="{{ url_for('static',filename='js/admin/case/case.js') }}"></script>
{% endblock %}