{% extends 'admin/base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parsley-add.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container" id="content-container">

        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">上传成员照片</div>
                    <div class="panel-body">
                        <form id="case-icon-form" method="post" data-parsley-validate="">

                            <div class="form-group clearfix">
                                <div class="col-md-offset-2 col-md-8 controls">
                                    <img id="case-icon" src="{{ member.icon }}" style="height: 200px;width: 150px;">
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-md-offset-2 col-md-8 controls">
                                    <input id="case-icon-field" name="pic" accept="image/bmp,image/jpeg,image/png"
                                           type="file" data-parsley-required-message="请选择要上传的图片" data-parsley-max-file-size="1024" required>
                                    <p class="help-block">你可以上传jpg, bmp, png格式的文件，不超过1M</p>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-offset-2 col-md-8 controls">
                                    <button class="btn btn-fat btn-primary" id="upload-icon-btn" type="button">保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#case-icon-field').change("#case-icon", preview_picture);

            $('#upload-icon-btn').click(function () {
                var p_instance = $('#case-icon-form').parsley();
                p_instance.validate();
                if (p_instance.isValid()) {
                    $.ajax({
                        url: "{{ url_for('admin.member_icon', member_id=member.id) }}",
                        type: "post",
                        data: new FormData($('#case-icon-form')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data["status"] == "success") {
                                alert("上传成功");
                                location.reload();
                            }
                            else if(data.status == "fail"){
                                alert("上传失败");
                            }
                            else {
                                alert("文件错误")
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}