{% extends "base.html" %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h4>{{ case.name }}</h4>
        <hr>
        <div id="content" class="markdown-body" data-to-render="{{ case.description }}"></div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(document).ready(function () {
            var content = $("#content");
            content.html(latex_support(content.data('to-render')));
            content.attr('data-to-render', null);
        });
    </script>
{% endblock %}




{# knowledges #}