{% extends 'base.html' %}

{% block header_ext %}
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
{#        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">#}
{#            <li><a href="/">首页</a></li>#}
{#            <li class="active"><a href="{{ url_for('article.index') }}">新闻中心</a></li>#}
{#        </ol>#}
        {% if article_list %}
            <div class="article-list-body row">
                <div class="col-md-10 col-offset-1">
                    <section class="es-section">
                        <ul class="media-list thread-list">
                            {% for article in article_list %}
                                <li class="media">
                                    <div class="media-left">
                                        <span class="reply-num">
                                            <strong> {{ article.visitNum }} </strong> {{ _('Views') }}
                                        </span>
                                    </div>
                                    <div class="media-body pts">
                                        <div class="media-heading">
                                            <a class="title gray-darker" style="font-size: 20px"
                                               href="{{ url_for('article.detail', article_id=article.id) }}">{{ article.title }}</a>
                                        </div>

                                        <div class="metas">
                                            <span>
                                                <i class="es-icon es-icon-time"></i>创建于{{ article.updatedTime | natural_time }}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>

        {% else %}
            <h2>暂无资讯信息</h2>
        {% endif %}
    </div>
{% endblock %}

{% block footer_ext %}
    <script>
        /*$(function() {
            var outer_width = $(".media-list .media").width();
            $(".media-list .media .pts").width(outer_width-78);
            $(window).resize(function() {
                var outer_width = $(".media-list .media").width();
                $(".media-list .media .pts").width(outer_width-78);
                console.log(outer_width);
                console.log($(".media-list .media .pts").width());
                console.log($(".media-list .media .pts .overflow-ellipsis").width());
            });
        });*/
    </script>
{% endblock %}

{# article #}