{% extends 'base.html' %}

{% block content %}
    <div class="container article-detail-main" id="content-container">
        <section class="es-section article-content">
            <div class="article-metas">
                <div class="pull-left">
                    <div class="date">
                        <div class="day">12</div>
                        <div class="month">12月</div>
                    </div>
                </div>
                <div class="metas-body">
                    <h2 class="title">C++ 编译过程</h2>
                    <div class="sns">
                        <span class="views-num"><i class="es-icon es-icon-visibility"></i>21</span>
                    </div>
                </div>
            </div>
            <div id="article-content" class="markdown-body article-text" data-to-render=""></div>
        </section>
    </div>
{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(document).ready(function () {
            var article_content = $("#article-content");
            article_content.html(latex_support(article_content.data('to-render')));
            article_content.attr('data-to-render', null);
        });
    </script>
{% endblock %}