{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <section class="swiper-container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="d-block img-fluid"
                         src="{{ url_for('static', filename="images/carousel_1-min.jpg") }}" alt="图片1">
                </div>
                <div class="item">
                    <img class="d-block img-fluid"
                         src="{{ url_for('static', filename="images/carousel_2-min.jpg") }}" alt="图片2">
                </div>
                <div class="item">
                    <img class="d-block img-fluid"
                         src="{{ url_for('static', filename="images/carousel_3-min.jpg") }}" alt="图片3">
                </div>
            </div>
        </div>
    </section>

    <section class="dynamic-section ">
        <div class="container">
            <div class="text-line gray">
                <h5><span>{{ _('Last News') }}</span>
                    <div class="line"></div>
                </h5>
                <div class="subtitle">{{ _('Stay current with industry trends') }}</div>
            </div>
            <div class="dynamic-section-main row">
                <div class="col-md-12">
                    <div class="panel panel-default index-article">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                最新资讯
                                <a class="more" href="{{ url_for('article.index') }}"><i class="es-icon es-icon-morehoriz"></i></a>
                            </h3>
                        </div>
                        <div class="panel-body clearfix">
                            <ul class="index-recommend-aricle clearfix">
                                <li class="">
                                    <a href="http://www.nscc-gz.cn/">
                                        <img class="img-responsive"
                                             src="{{ url_for('static', filename="images/1.jpg") }}">
                                        <div class="image-overlay"></div>
                                        <div class="title">国家超级计算广州中心资讯</div>
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="http://sdcs.sysu.edu.cn/">
                                        <img class="img-responsive"
                                             src="{{ url_for('static', filename="images/2.jpg") }}">
                                        <div class="image-overlay"></div>
                                        <div class="title">中山大学数据科学与计算机学院资讯</div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="index-new-article ">
                                {% for article in articles %}
                                    <li class=" clearfix"><i class="es-icon es-icon-dot color-primary mrs"></i>
                                        <a class="link-dark" href="{{ url_for('article.detail',article_id=article.id) }}" title="{{ article.title }}">{{ article.title }}</a>
                                        <span class="date">{{ article.updatedTime.year }}-{{ article.updatedTime.month }}-{{ article.updatedTime.day }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="course-list-section open-course-list-section ">
        <div class="container">
            <div class="text-line">
                <h5><span>{{ _('Researches and Projects') }}</span>
                    <div class="line"></div>
                </h5>
                <div class="subtitle">{{ _('View the detail of projects') }}</div>
            </div>

            <div class="course-list">
                {% for case in cases %}
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="{{ url_for('case.show_case',case_id=case.id) }}" target="_blank" title="#">
                                <img src="{{ case.icon }}" alt="{{ case.name }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div class="title">
                                <a class="link-dark" href="{{ url_for('case.show_case',case_id=case.id) }}" target="_blank" title="{{ case.name }}">
                                    <strong>{{ case.name }}</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="section-more-btn">
            <a href="{{ url_for('case.index') }}" class="btn btn-default btn-lg">
                {{ _('More Projects') }}<i class="mrs-o es-icon es-icon-chevronright"></i>
            </a>
        </div>
    </section>


{% endblock %}