{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <section class="swiper-container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="d-block img-fluid"
                         src="{{ url_for('static', filename="images/carousel_1-min.jpg") }}" alt="图片1">
                </div>
                <div class="item">
                    <img class="d-block img-fluid"
                         src="{{ url_for('static', filename="images/carousel_2-min.jpg") }}" alt="图片2">
                </div>
                <div class="item">
                    <img class="d-block img-fluid"
                         src="{{ url_for('static', filename="images/carousel_3-min.jpg") }}" alt="图片3">
                </div>
            </div>
        </div>
    </section>

    <section class="course-list-section open-course-list-section ">
        <div class="container">
            <div class="text-line">
                <h5><span>{{ _('Research Direction') }}</span>
                    <div class="line"></div>
                </h5>
                <div class="subtitle">{{ _('View the detail of Researches') }}</div>
            </div>

            <div class="course-list">
                <div class="row">
                    {% for case in cases %}
                    <div class="col-lg-4 col-md-4 col-xs-6">
                        <div class="course-item" style="padding-bottom: 10px; height: 360px; overflow: hidden">
                            <div class="course-img">
                                <a href="{{ url_for('case.show_case',case_id=case.id) }}" target="_blank" >
                                    <img src="{{ case.icon }}" alt="{{ case.name }}" class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title"><strong>{{ case.name }}</strong></div>
                                <div class="introduction" title="{{ case.introduction }}">{{ case.introduction }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="section-more-btn">
            <a href="{{ url_for('case.index') }}" class="btn btn-default btn-lg">
                {{ _('More Researches') }}<i class="mrs-o es-icon es-icon-chevronright"></i>
            </a>
        </div>
    </section>

    <section class="dynamic-section ">
        <div class="container">
            <div class="text-line gray">
                <h5><span>{{ _('Last News') }}</span>
                    <div class="line"></div>
                </h5>
                <div class="subtitle">{{ _('Stay current with industry trends') }}</div>
            </div>


            <div class="course-list">
                <div class="row">
                    {% for article in articles %}
                    <div class="col-lg-4 col-md-4 col-xs-6">
                        <div class="course-item" style="padding-bottom: 10px; height: 360px; overflow: hidden">
                            <div class="course-img">
                                <a href="{{ url_for('article.detail',article_id=article.id) }}" target="_blank" >
                                    <img src="{{ article.icon }}" alt="{{ article.title }}" class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title"><strong>{{ article.title }}</strong></div>
                                <div class="introduction"">{{ article.content | truncate(100) }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="section-more-btn">
            <a href="{{ url_for('article.index') }}" class="btn btn-default btn-lg">
                {{ _('More News') }}<i class="mrs-o es-icon es-icon-chevronright"></i>
            </a>
        </div>
    </section>


    <section class="course-list-section open-course-list-section ">
        <div class="container">
            <div class="text-line">
                <h5><span>{{ _("Sponsor Organizations") }}</span>
                    <div class="line"></div>
                </h5>
            </div>

            <div class="course-list">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <img src="/static/images/sponsor/1.png" alt="中国联通" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <img src="/static/images/sponsor/2.png" alt="国家自然科学基金会" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <img src="/static/images/sponsor/3.png" alt="中国南方电网" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <img src="/static/images/sponsor/5.png" alt="广发银行" class="img-responsive">
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>



{% endblock %}