{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/team_member.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="course-list-section open-course-list-section ">
        <div class="container">
            <div style="font-size: 36px;" class="text-line">
                {{ _('Team Member') }}
            </div>

            <div class="course-list">

                <div class="col-lg-2 col-md-3 col-xs-4">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="http://sdcs.sysu.edu.cn/node/2525" target="_blank" title="所长：吴迪教授">
                                <img src="/static/images/team/1.jpg" alt="所长：吴迪教授" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div style="text-align: center" class="title">
                                <a class="link-dark" href="http://sdcs.sysu.edu.cn/node/2525" target="_blank" title="所长：吴迪教授">
                                    所长：吴迪教授
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-2 col-md-3 col-xs-4">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="http://sdcs.sysu.edu.cn/node/2561" target="_blank" title="副所长：卓汉逵副教授">
                                <img src="/static/images/team/2.jpg" alt="副所长：卓汉逵副教授" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div style="text-align: center" class="title">
                                <a class="link-dark" href="http://sdcs.sysu.edu.cn/node/2561" target="_blank" title="副所长：卓汉逵副教授">
                                    副所长：卓汉逵副教授
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-xs-4">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="http://sdcs.sysu.edu.cn/node/2497" target="_blank" title="陈旭教授">
                                <img src="/static/images/team/3.jpg" alt="陈旭教授" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div style="text-align: center" class="title">
                                <a class="link-dark" href="http://sdcs.sysu.edu.cn/node/2497" target="_blank" title="陈旭教授">
                                    陈旭教授
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-xs-4">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="http://sdcs.sysu.edu.cn/node/2543" target="_blank" title="刘聪教授">
                                <img src="/static/images/team/4.jpg" alt="刘聪教授" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div style="text-align: center" class="title">
                                <a class="link-dark" href="http://sdcs.sysu.edu.cn/node/2543" target="_blank" title="刘聪教授">
                                    刘聪教授
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-xs-4">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="http://sdcs.sysu.edu.cn/node/2492" target="_blank" title="吴维刚教授">
                                <img src="/static/images/team/5.jpg" alt="吴维刚教授" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div style="text-align: center" class="title">
                                <a class="link-dark" href="http://sdcs.sysu.edu.cn/node/2492" target="_blank" title="吴维刚教授">
                                    吴维刚教授
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-xs-4">
                    <div class="course-item" style="padding-bottom: 10px">
                        <div class="course-img">
                            <a href="http://sdcs.sysu.edu.cn/node/2474" target="_blank" title="桑应朋副教授">
                                <img src="/static/images/team/6.jpg" alt="桑应朋副教授" class="img-responsive">
                            </a>
                        </div>
                        <div class="course-info">
                            <div style="text-align: center" class="title">
                                <a class="link-dark" href="http://sdcs.sysu.edu.cn/node/2474" target="_blank" title="桑应朋副教授">
                                    桑应朋副教授
                                </a>
                            </div>
                        </div>
                    </div>
                </div>





        </div>
        </div>
    </section>


{% endblock %}