<!-- 删除警告 -->
<div class="modal fade" id="del-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">警告</h4>
            </div>
            <div class="modal-body" style="height: 100px;font-size: medium">删除后不可恢复，是否确认删除？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="del-confirm" type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>